* {
    margin: 0;
    padding: 0;
}


:root {
    --bg-up-footer: #46a467;
    --bg-footer: #2d804a;
    --bg-nav: #D9E4DD;
    --bg-prim-conteudo: #327e4c;
    --bg-branco: #e0e0e0;
    --bg-box: #e0e0e0;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: linear-gradient( -45deg, #00ff00, #328b05, #00ff59d1,  #228b22);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    background-color: var(--bg-nav);
    color: #000000;
    text-align: center;
    padding: 1.8%;
    font-family: 'Playfair', serif;
    /* opacity: 0.7; */
    background: rgba(0, 0, 0, 0.2);
}

.class-img-logo {
    width: 80px;
    height: 60px;
}

.titulo-nav img {
    float: left;
    padding-bottom: 40px;
}

.titulo-nav h1 {
    margin-right: 30px;
}

h1 {
    font-size: 48px;
}



.conteudo {
    margin: 0 100px 0 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 500px;
}

.titulo-box-land h1 {
    color: #ffffff;
    padding-top: 100px;
    font-size: 50px;
    font-family: 'Playfair', serif;
}

.titulo-box-land h1 span {
    color: var(--bg-footer);
}

.texto-box-land {
    margin-left: 30px;
    margin-right: 100px;
    padding-top: 30px;
    font-size: 20px;
    color: #ffffff;
}

.imagem-landing {
    padding-top: 60px;
    padding-left: 100px;
    max-width: 100%;
    max-height: 350px;
}

@media (max-width: 767px) {
    body {
        background: linear-gradient( -45deg, #00ff00, #328b05, #00ff59d1,  #228b22);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
        height: 100vh;
    }

    .conteudo {
        margin: 0 0px 0 0;
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: auto; */
        grid-template-rows: 500px;
    }

    .titulo-box-land h1 {
        color: #ffffff;
        padding-top: 100px;
        font-size: 40px;
        margin-left: 30px;
        margin-right: 30px;
        font-family: 'Playfair', serif;
    }
    
    .titulo-box-land h1 span {
        color: var(--bg-footer);
    }
    
    .texto-box-land {
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 100px;
        font-size: 25px;
        color: #ffffff;
    }
    
    .imagem-landing {
        padding-top: 60px;
        padding-left: 100px;
        max-width: 100%;
        max-height: 350px;
    }

    img {
        display: none;
    }

    .titulo-nav h1 {
        margin-right: 0px;
    }
}

@media (max-width: 425px) {
    .conteudo {
        margin: 0 0 0 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-rows: 500px;
    }

    .titulo-box-land h1 {
        color: #ffffff;
        padding-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 40px;
        font-family: 'Playfair', serif;
    }
    
    .titulo-box-land h1 span {
        color: var(--bg-footer);
    }
    
    .texto-box-land {
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 30px;
        font-size: 20px;
        color: #ffffff;
    }
    
    .imagem-landing {
        padding-top: 60px;
        padding-left: 100px;
        max-width: 100%;
        max-height: 350px;
    }
}