* {
    margin: 0;
    padding: 0;
}


:root {
    --bg-up-footer: #46a467;
    --bg-footer: #2d804a;
    --bg-nav: #D9E4DD;
    --bg-prim-conteudo: #327e4c;
    --bg-branco: #e0e0e0;
    --bg-box: #e0e0e0;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
}

.navbar {
    background-color: var(--bg-nav);
    color: #000000;
    text-align: center;
    padding: 1.8%;
    font-family: 'Playfair', serif;
}

.titulo-nav img {
    float: left;
}

.titulo-nav h1 {
    margin-right: 30px;
}

.prim-conteudo {
    background-image: url("img-bg-verde-2.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    font-size: 20px;
    padding: 5%;
    display: flex;
    text-align: center;
    color: #ffffff;

}

h1 {
    font-size: 48px;
}

.animated-title {
    animation: animacaoTitulo 2s linear infinite;
    /* Definindo a animação */
}

/*   
@keyframes animacaoTitulo {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(0.98); 
    }
    100% {
        transform: scale(1); 
    }
}
 */

.parallax {
    background-image: url("tecnologia-e-sustentabilidade.webp");
    max-width: 100%;
    height: 100%;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    display: block;
    background-image: url("img-bg-primario-3.webp");
    max-width: 100%;
    height: 100%;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text h1 {
    font-size: 70px;
    color: #ffffff;
}

.bg-text-2 h1 {
    font-size: 70px;
    color: #ffffff;
}

.bg-text {
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 70px;
}

.bg-text-2 {
    color: white;
    font-weight: bold;
    border: none;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 70px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    align-items: center;
    background-color: var(--bg-nav);
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #539e66;
    cursor: pointer;
}

.button:active {
    background-color: #539e66;
}

.down-prim-conteudo {
    background-color: var(--bg-branco);
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 1.5%;
    display: grid;
    column-gap: 1%;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto auto;
}

.box-conteudo {
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #ffffff;
    /* border: 1px solid black; */
    border-radius: 20px;
    max-width: 600px;
    background-color: var(--bg-box);
}

.tam-conteudo {
    margin: 20px;
}

.titulo-box {
    text-align: center;
}

.texto-conteudo {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: justify;

}

.up-footer {
    padding: 2%;
    background: var(--bg-up-footer);
    display: grid;
    grid-template-columns: 40% 60%;
}

footer {
    padding: 1%;
    background-color: var(--bg-footer);
    display: grid;
    grid-template-columns: 80px auto auto;
    /* column-gap: 1%; */
}

.rede-social {
    margin-left: 50%;
    display: grid;
    grid-template-columns: 50px 50px 600px;
}

h4 {
    padding-top: 19px;
    color: #ffffff;
}

.rede-social a {
    cursor: pointer;
}

.class-img-logo {
    width: 80px;
    height: 60px;
}

@media (max-width: 1600px) {
    .bg-text h1 {
        font-size: 50px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 50px;
        color: #ffffff;
    }
}

@media (max-width: 1440px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 3%;
        display: grid;
        column-gap: 4%;
        grid-template-columns: 46% 46%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo:last-child {
        margin-top: 50px;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        font-size: 70px;
    }

    .bg-text h1 {
        font-size: 47px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 47px;
        color: #ffffff;
    }
}


@media (max-width: 1280px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 3%;
        display: grid;
        column-gap: 4%;
        grid-template-columns: 46% 46%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo:last-child {
        margin-top: 50px;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        font-size: 70px;
    }

    .bg-text h1 {
        font-size: 47px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 47px;
        color: #ffffff;
    }
}

@media (max-width: 1024px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 3%;
        display: grid;
        column-gap: 4%;
        grid-template-columns: 46% 46%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo:last-child {
        margin-top: 50px;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        font-size: 70px;
    }

    .bg-text h1 {
        font-size: 45px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 45px;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 9%;
        display: grid;
        column-gap: 4%;
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo:last-child {
        margin-top: 50px;
    }

    .parallax h1 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        font-size: 40px;
        color: #ffffff;
    }

    .button {
        display: inline-block;
        padding: 12px 24px;
        margin-left: 3%;
        align-items: center;
        background-color: var(--bg-nav);
        color: #000000;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .bg-text h1 {
        font-size: 40px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 40px;
        color: #ffffff;
    }

    .box-conteudo {
        margin-top: 50px;
    }
}

@media (max-width: 425px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 9%;
        display: grid;
        /* column-gap: 4%; */
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo {
        margin-top: 50px;
    }

    .rede-social {
        margin-left: 10px;
    }

    footer {
        padding: 4%;
        background-color: var(--bg-footer);
        display: grid;
        grid-template-columns: 70px auto auto;
        /* column-gap: 1%; */
    }

    .prim-conteudo {
        background-image: url("img-bg-verde-2.jpg");
        background-repeat: no-repeat;
        max-width: 100%;
        font-size: 12px;
        padding: 9%;
        display: flex;
        text-align: center;
        color: #ffffff;

    }

    .bg-text h1 {
        font-size: 30px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 30px;
        color: #ffffff;
    }

    .navbar {
        background-color: var(--bg-nav);
        color: #000000;
        text-align: center;
        padding: 3%;
    }

    .parallax h1 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        font-size: 40px;
        color: #ffffff;
    }

    .button {
        display: inline-block;
        padding: 12px 24px;
        margin-left: 3%;
        align-items: center;
        background-color: var(--bg-nav);
        color: #000000;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .class-img-logo {
        /* width: 60px;
        height: 40px; */
        display: none;
    }

    .titulo-nav h1 {
        margin-right: 0px;
    }

    .texto-conteudo {
        /*padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
        text-align: justify;*/
        padding: 10px;
        font-size: 20px;
        word-spacing: 2px;
        text-align: center;
        
    
    }

    .up-footer {
        padding: 4%;
        background: var(--bg-up-footer);
        display: grid;
        grid-template-columns: 80%;
    }

    h4 {
        padding-top: 15px;
        color: #ffffff;
    }
}

@media (max-width: 320px) {
    .down-prim-conteudo {
        background-color: var(--bg-branco);
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 9%;
        display: grid;
        /* column-gap: 4%; */
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
    }

    .box-conteudo {
        margin-top: 50px;
    }

    .rede-social {
        margin-left: 10px;
    }

    footer {
        padding: 4%;
        background-color: var(--bg-footer);
        display: grid;
        grid-template-columns: 70px auto auto;
        /* column-gap: 1%; */
    }

    .prim-conteudo {
        background-image: url("img-bg-verde-2.jpg");
        background-repeat: no-repeat;
        max-width: 100%;
        font-size: 12px;
        padding: 9%;
        display: flex;
        text-align: center;
        color: #ffffff;

    }

    .bg-text h1 {
        font-size: 28px;
        color: #ffffff;
    }
    
    .bg-text-2 h1 {
        font-size: 30px;
        color: #ffffff;
    }

    .navbar {
        background-color: var(--bg-nav);
        color: #000000;
        text-align: center;
        padding: 3.2%;
    }

    .parallax h1 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        color: #ffffff;
    }

    .button {
        display: inline-block;
        padding: 12px 24px;
        margin-left: 3%;
        align-items: center;
        background-color: var(--bg-nav);
        color: #000000;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .bg-text-2 {
        color: white;
        font-weight: bold;
        border: none;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .class-img-logo {
        /* width: 60px;
        height: 40px; */
        display: none;
    }

    .titulo-nav h1 {
        font-size: 30px;
        margin-right: 0px;
    }

    .texto-conteudo {
        /*padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
        text-align: justify;*/
        padding: 10px;
        font-size: 20px;
        word-spacing: 2px;
        text-align: center;
        
    
    }

    .up-footer {
        padding: 4%;
        background: var(--bg-up-footer);
        display: grid;
        grid-template-columns: 80%;
    }

    h4 {
        padding-top: 15px;
        color: #ffffff;
    }
}

@media (max-width: 230px) {

}



  


